#results{
    display:grid ;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    /* margin-top: 10px; */

}
#results img{
    width: 60%;
    height: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

.product_div{
    text-align: center;
    /* border: 1px solid red;  */
   height: 450px;
   width: 80%;
   margin: auto;
   border-radius: 2rem;
   box-shadow: rgba(244, 241, 241, 0.35) 0px 5px 15px;
   margin-top: 2rem;
}

.product_div button{
    color:wheat;
    box-shadow: rgba(244, 241, 241, 0.35) 0px 5px 15px;
    border-bottom: 1px solid wheat;
    /* margin: 1rem 3rem; */
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
}
.product_div p{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

.disc{
 /* border: 1px solid red; */
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
 
}

.disc_div{
    margin-top: 20px;
    height: 40px;
    width: 300px;
  
}

.button_div{
    /* border: 1px solid wheat; */
    display: flex;
    height: 60px;
    width: 250px;
    gap: 10px;
    margin: auto;
}
.button_div p{
    /* border: 1px solid red; */
    /* height: 50px; */
    width: 50px; 
    /* text-align: center; */
    /* margin: auto; */
    padding: 10px;
   }

   #buybuttondiv{
    /* border: 1px solid red; */
    margin: 40px;
    display: flex;
    border-top: 1px solid wheat;
   }

   #buybuttondiv button{
    color:wheat;
    box-shadow: rgba(244, 241, 241, 0.35) 0px 5px 15px;
    border-bottom: 1px solid wheat;
    /* margin: 1rem 3rem; */
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
     margin: auto;
   }
