#container{
    /* border: 1px solid wheat; */
    border-bottom: 1px solid wheat;
    border-radius: 1rem;
    border-bottom-style:groove;
    height: 15rem;
    width: 20rem;
    margin: auto;
    margin-top: 10rem;
    box-shadow: rgba(244, 241, 241, 0.35) 0px 5px 15px;
}

#container input{
    height: 2rem;
    width: 18rem;
    padding: 1rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    box-shadow: rgba(244, 241, 241, 0.35) 0px 5px 15px;
    border-bottom: 1px solid wheat;
    text-align: center;
}
#container button{
    box-shadow: rgba(244, 241, 241, 0.35) 0px 5px 15px;
    border-bottom: 1px solid wheat;
    margin: 1rem 6rem;
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
}

#container input:nth-child(1){
    margin-top: 2rem;
}